body{
    font-family: Georgia, serif;
    background-color: #00ffff;
    text-align: justify;
}

h1{
    color: #00008B;
    text-align: left;
    font-size: 60px;
    font-family: Comic Sans MS;
}

h4{
    text-align: right;
    font-family: Arial Black;
    font-style: italic;
}